@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/inter-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/inter-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/inter-extra-bold.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Button */

.button {
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  background-color: #fcfcfc;
}

.button-pink {
  color: #fcfcfc;
  background-color: #ff2f64;
}

/* Header*/

.navigation-cite {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation-cite-list {
  width: 670px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 475px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.contacts-phone {
  font-weight: 700;
}

/* Main */

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.button-order {
  width: 139px;
  text-decoration: none;
  color: #2d3440;
  background: #fcfcfc;
}

.text-ice-cream {
  width: 525px;
}

.announcement {
  display: flex;
}

.visible-ice-cream {
  width: 367px;
}

.slider-image {
  width: 100px;
}

.gifts-for-ice-cream {
  width: 434px;
}

.social-list {
  width: 104px;
}

.product-container {
  display: flex;
}

.news {
  display: flex;
  justify-content: space-between;
}

.ice-cream-name {
  width: 470px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.taste-description {
  width: 429px;
  font-size: 18px;
  line-height: 24px;
}

.gifts-for-ice-cream,
.popular-product {
  width: 527px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.present-container {
  display: flex;
}

.present-item {
  width: 570px;
  background: #f79;
}

.present-tittle {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.product-item {
  width: 270px;
  background: #fcfcfc;
}

.product-tittle {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.product-card-discription {
  text-align: center;
  color: #565c66;
}

.product-card-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.advantages {
  width: 1122px;
  padding: 56px 40px;
  background-color: #fff;
  background-image: url('../images/cео.jpg');
  background-repeat: no-repeat;
  gap: 56px;
}

.own-production {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.blog {
  width: 570px;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  background-image: url('../images/news.png');
  background-repeat: no-repeat;
}

.article {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  color: #2d3440;
}

.subscription {
  width: 570px;
  border-radius: 16px;
  background-color: #fff;
  background-image: url('../images/pattern.jpg');
  background-repeat: no-repeat;
}

.mailing-list {
  color: #565c66;
}

.home-delivery {
  display: flex;
  background-color: #fcfcfc;
  background-image: url('../images/delivery.png');
  background-repeat: no-repeat;
}

.delivery-on-home {
  width: 356px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.delivery-discription,
.delivery.record {
  width: 371px;
  color: #565c66;
}

.delivery-box {
  width: 500px;
}

.record {
  font-weight: 700;
  line-height: 20px;
}

.contacts-container {
  width: 343px;
}

.contacts {
  display: flex;
  border-radius: 8px;
  background-color: #fcfcfc;
  background-image: url('../images/backstage.png');
  background-repeat: no-repeat;
}

.contacts-subtitle {
  color: #565c66;
}

.contacts-address {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #2d3440;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.footer-contacts {
  width: 104px;
}

.useful-links {
  width: 356px;
}

.copyright {
  width: 193px;
}

.button-feedback {
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #fcfcfc;
}

.contacts-phone2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.phone {
  text-decoration: none;
}

.opening-hours {
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.footer-link-active {
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.breadcrumbs-item .page {
  text-decoration: underline;
}

.inner-header {
  display: flex;
  width: 379px;
}

.catalog-filter {
  width: 823px;
}