@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/inter-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/inter-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/inter-extra-bold.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Button */

.button {
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  border-radius: 26px;
  outline: 4px solid rgb(247, 202, 214);
  background-color: #fcfcfc;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, .10);
}

.button-settings {
  align-self: flex-end;
  box-sizing: border-box;
  padding: 8px 32px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  outline: 2px solid #fcfcfc;
  background: rgba(252, 252, 252, .30);
}

.button-settings:hover {
  background: #fcfcfc;
}

.button-settings:active {
  background: rgba(252, 252, 252, .50);
}

.button-settings:focus {
  outline: 2px solid #2d3440;
  background: rgba(252, 252, 252, .30);
}

.button-pink {
  padding: 12px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #fcfcfc;
  border: none;
  border-radius: 26px;
  outline: 4px solid #f2b4c4;
  background-color: #ff2f64;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, .10);
}

.button-pink:hover {
  color: #2d3440;
  outline: 4px solid #ff2f64;
  background: rgba(252, 252, 252, .30);
}

.button-pink:active {
  outline: 2px solid #2d3440;
  background: #feafc3;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, .10);
}

.button-pink:focus {
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, .10);
}

.delivery-button {
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  grid-column: 1 / -1;
}

.button:hover {
  outline: 4px solid #fcfcfc;
  background: rgba(252, 252, 252, .40);
  box-shadow: 0 4px 15px 0 rgba(133, 133, 133, .15);
}

.button:active {
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, .10);
}

.button:focus {
  outline: 2px solid #2d3440;
  background: rgba(252, 252, 252, .50);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, .10);
}

.slider-button {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin: auto 0;
  padding: 0;
  transform: translateY(-50%);
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  background: rgba(252, 252, 252, .30);
}

.slider-button-left {
  left: 0;
}

.slider-button-right {
  right: 0;
}

.slider-button:hover {
  background-color: #fcfcfc;
}

.slider-button:hover path,
.slider-button:active path,
.slider-button:focus path {
  fill: #2d3440;
}

.slider-button:active {
  border: 2px solid #fcd5df;
  background-color: #fcd5df;
  ;
}

.slider-button:focus {
  border: 2px solid #2d3440;
  background-color: #fec7d5;
}

.slider-button:disabled {
  background-color: #feb8ca;
}

/* Header*/

.navigation-cite {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding: 24px 0;
  list-style-type: none;
}

.navigation-cite-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 10px 16px;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  display: block;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  max-width: 475px;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  gap: 16px;
}

.navigation-link {
  padding: 8px 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.navigation-links {
  position: relative;
  width: 41px;
  padding: 8px 16px;
  padding: 8px 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  border: none;
  border-radius: 30px;
  background-color: #fdc6d4;
}

.navigation-links:hover {
  background-color: #fdd5df;
}

.navigation-links:focus {
  outline: 2px solid #000;
  background-color: #fdd5df;
}

.navigation-links:active {
  background-color: #fcfcfc;
}

.search {
  padding: 8px;
  border: none;
  border-radius: 27px;
}

.navigation-link-catalog {
  text-decoration: none;
  color: #2d3440;
}

.contacts-phone {
  font-weight: 700;
}

/* Main */

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.text-ice-cream {
  width: 410px;
  margin-right: 26px;
  margin-left: 70px;
}

.announcement {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0 55px 0;
}

.visible-ice-cream {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 367px;
}

.visible-ice-cream::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 327px;
  height: 312px;
  margin: auto;
  border-radius: 50%;
  background: #ffcbd8;
  inset: 0;
}

.slider-images {
  margin: auto;
}

.gifts-for-ice-cream {
  width: 434px;
  margin: 0 auto;
  font-size: 32px;
}

.page-list {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  list-style-type: none;
  gap: 8px;
}

.button-page {
  width: 12px;
  height: 12px;
  padding: 0;
  opacity: .3;
  border: none;
  border-radius: 50%;
  background-color: #fcfcfc;
}

.button-page:hover {
  opacity: 1;
  outline: 1px solid #fcfcfc;
  background-color: #fdd7e1;
}

.button-page:active {
  opacity: 1;
  background-color: #fcd5df;
}

.button-page:current {
  opacity: 1;
  background-color: #fcfcfc;
}

.button-page:focus {
  opacity: 1;
  outline: 1px solid #2d3440;
  background-color: #fdd7e1;
}

.slider-footer {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.social-list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 0;
  list-style-type: none;
  gap: 16px;
}

.social-list-footer {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 16px;
}

.social-item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.news {
  display: flex;
  justify-content: space-between;
  min-height: 224px;
  margin-bottom: 80px;
}

.ice-cream-name {
  width: 470px;
  margin-left: 0;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.taste-description {
  width: 429px;
  margin: 24px 26px 48px 0;
  font-size: 18px;
  line-height: 24px;
}

.popular-product {
  margin: 0 auto;
  margin-bottom: 56px;
}

.gifts-for-ice-cream,
.popular-product {
  width: 527px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.present {
  margin-bottom: 80px;
}

.present-list {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style-type: none;
}

.present-item {
  display: flex;
  justify-content: space-between;
  width: 570px;
  margin-left: 0;
  border-radius: 16px;
  background: #f79;
}

.text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 317px;
  min-height: 196px;
  padding: 36px 0 36px 36px;
}

.present-discription {
  margin-top: 0;
  margin-bottom: 28px;
}

.present-tittle {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.product-card-image {
  margin-bottom: 16px;
  border-radius: 50%;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 281px;
  margin-top: 51px;
  padding: 0 40px 24px 40px;
  border-radius: 8px;
  background: #fcfcfc;
}

.product-list {
  display: grid;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
  gap: 40px 30px;
  grid-template-columns: repeat(4, 270px);
}

.product-tittle {
  margin-top: 133px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.product-card-discription {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  color: #565c66;
}

.product-card-price {
  display: flex;
  font-size: 20px;
  line-height: 24px;
}

.advantages {
  margin-bottom: 80px;
  padding: 24px;
  border-radius: 16px;
  background-image: url('../images/cео.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages-container {
  box-sizing: border-box;
  min-height: 432px;
  padding: 56px 40px;
  border-radius: 16px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.advantages-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-template-columns: 506px 506px;
  gap: 40px 32px;
}

.own-production {
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.blog-article {
  width: 170px;
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
}

.blog {
  box-sizing: border-box;
  width: 570px;
  padding: 32px;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  background-image: url('../images/news.png');
  background-repeat: no-repeat;
}

.article {
  display: block;
  box-sizing: border-box;
  width: 303px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  color: #2d3440;
}

.subscription {
  box-sizing: border-box;
  width: 570px;
  padding: 6px;
  border-radius: 16px;
  background-image: url('../images/pattern.jpg');
  background-repeat: no-repeat;
}

.subscription-container {
  box-sizing: border-box;
  width: 558px;
  min-height: 212px;
  padding: 26px;
  border-radius: 16px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.mailing-list {
  margin: 0;
  margin-bottom: 42px;
  color: #565c66;
}

.home-delivery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 64px;
  border-radius: 16px;
  background-image: url('../images/delivery.png');
  background-repeat: no-repeat;
}

.delivery-container {
  display: flex;
  flex-direction: column;
  width: 371px;
  padding: 36px;
}

.delivery-on-home {
  width: 356px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.delivery-discription {
  display: block;
  justify-content: center;
  margin-top: 0;
  color: #565c66;
}

.delivery-record {
  width: 380px;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 400;
  color: #565c66;
}

.delivery-box {
  box-sizing: border-box;
  width: 500px;
  padding: 40px;
  border-radius: 8px;
  background-color: #fcfcfc;
  background-repeat: no-repeat;
}

.record {
  font-weight: 700;
  line-height: 20px;
}

.contacts-container {
  box-sizing: border-box;
  width: 343px;
  margin-left: 0;
  padding: 40px;
  border-radius: 8px;
  background-color: #fcfcfc;
  background-repeat: no-repeat;
}

.contacts {
  padding: 64px;
  border-radius: 16px;
  background-image: url('../images/backstage.png');
  background-repeat: no-repeat;
}

.contacts-subtitle {
  width: 179px;
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #565c66;
}

.contacts-subtitle-phone {
  width: 203px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #565c66;
}

.contacts-address-text {
  width: 263px;
  margin-bottom: 32px;
}

.contacts-address {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #2d3440;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-contacts {
  width: 104px;
}

.useful-links {
  display: grid;
  width: 356px;
  gap: 8px 24px;
  grid-template-columns: 152px 182px;
}

.copyright {
  width: 193px;
}

.contacts-phone2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.phone {
  text-decoration: none;
}

.opening-hours {
  margin: 0;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #565c66;
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-left: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.breadcrumbs-link {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.breadcrumbs-item {
  display: flex;
  gap: 8px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: '';
  width: 12px;
  height: 12px;
  margin: auto;
  background-image: url('../images/double-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item .page {
  text-decoration: underline;
}

.inner-header {
  display: flex;
  flex-direction: column;
  width: 379px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  width: 823px;
}

.about-text {
  font-size: 12px;
}

.selected-products {
  margin-top: 0;
  font-size: 32px;
  font-weight: 900;
}

.catalog-filter-title {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.pagination-container {
  display: flex;
  margin-bottom: 40px;
}

.catalog-products {
  display: flex;
  margin-bottom: 44px;
}

.catalog-filter-group {
  flex-grow: 1;
  padding: 0;
}

.confirm-form {
  display: grid;
  margin-bottom: 32px;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.confirm-form-address {
  grid-column: 1 / -1;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-card-link {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 164px;
  left: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

.catalog-filter-list {
  display: flex;
  width: 604px;
  padding: 0;
  list-style-type: none;
  border-radius: 18px;
  background: rgba(252, 252, 252, .30);
  gap: 16px;
}

.catalog-filter-list-percent {
  border-radius: 18px;
  background: rgba(252, 252, 252, .30);
}

.main-footer {
  display: flex;
  width: 680px;
  margin-bottom: 40px;
  margin-left: auto;
  padding: 40px 0;
}

.htmlacademy-link {
  text-decoration: none;
  color: #2d3440;
}

.navigation-select {
  list-style-type: none;
}

.navigation-icon {
  margin: auto;
  fill: #dbdbdb;
}

.navigation-link-login {
  padding-left: 38px;
  border-radius: 30px;
}

.navigation-link-login .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.advantages-item {
  display: flex;
  gap: 16px;
}

.advantages-item::before {
  content: '';
  display: block;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item-leaf::before {
  background-image: url('../images/leaf.svg');
}

.advantages-item-ice-cream::before {
  background-image: url('../images/ice-cream-mini.svg');
}

.advantages-item-cow::before {
  background-image: url('../images/cow.svg');
}

.advantages-item-thermometre::before {
  background-image: url('../images/thermometre.svg');
}

.button-social {
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #fec7d5;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.button-social-tg {
  background-image: url('../images/telegram.svg');
}

.button-social-vk {
  background-image: url('../images/vk.svg');
}

.button-social-youtube {
  background-image: url('../images/youtube.svg');
}

.button-social:hover {
  border: 2px solid #fcd5df;
  background-color: #2d3440;
}

.button-social:active {
  border: 2px solid #fdc2d1;
  background-color: #fcd5df;
}

.button-social:focus {
  border: 2px solid #2d3440;
  background-color: #2d3440;
}

.advantages-discription {
  margin: 0;
}

.product-card-button {
  width: 32px;
  height: 32px;
  margin-left: auto;
  border: 0;
  border-radius: 50%;
  background-color: #ff2f64;
}

.product-card-button:hover {
  border: 2px solid #ff2f64;
  background-color: #fcfcfc;
}

.product-card-button:hover path {
  fill: #2d3440;
}

.product-card-button:active {
  border: 2px solid #ff2f64;
  background-color: #ffcbd8;
}

.product-card-button:active path {
  fill: #2d3440;
}

.product-card-button:focus {
  border: 2px solid #2d3440;
  background-color: #ff2f64;
}

.footer-link-heart {
  display: flex;
  font-weight: 700;
  gap: 8px;
}

.footer-link-heart::before {
  content: '';
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background-image: url('../images/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer-link-product {
  margin-left: 24px;
}

.other-taste {
  position: relative;
  display: flex;
  width: 100px;
}

.other-taste-yellow {
  margin: auto 41px auto 37px;
}

.other-taste::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background: #ffcbd8;
}

.navigation-link:hover {
  padding: 8px 16px;
  border-radius: 30px;
  background-color: rgb(252, 213, 223);
}

.navigation-link:active {
  background: #fcfcfc;
}

.navigation-link:focus {
  border-radius: 30px;
  outline: 2px solid #2d3440;
  background-color: rgb(252, 213, 223);
}

.slider-prev {
  transform: rotate(180deg);
  border: none;
  border-radius: 50%;
  background-color: #feafc3;
}

.slider-prev svg {
  transform: rotate(180deg);
}

.slider-next {
  border: none;
  border-radius: 50%;
  background-color: #feafc3;
}

.button-container {
  margin-left: auto;
  padding: 10px 0;
}

.page-catalog {
  padding: 0 8px 0 8px;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  background-color: #feafc3;
}

.page-catalog:hover {
  background: 24px;
  background-color: #fcd5df;
}

.page-catalog:active {
  outline: 1px solid #dbdbdb;
  background-color: #fcd5df;
}

.page-catalog:focus {
  outline: 1px solid #2d3440;
  background-color: #fec7d5;
}

.page-catalog:current {
  background-color: #dbdbdb;
}

.field {
  border: none;
  border-radius: 4px;
  outline: 1px solid #b9b9b9;
  background: #fff;
}

.field:hover {
  outline-color: #2d3440;
}

.field:focus {
  outline-color: #2d3440;
}

.field:disabled {
  outline-color: #b9b9b9;
  background: #e7e7e7;
}

.field:disabled:hover {
  outline-color: #b9b9b9;
  background: #e7e7e7;
}

.slider-arrow:hover {
  border: none;
  border-radius: 50%;
  background-color: #fcfcfc;
}

.slider-arrow:hover path {
  border-radius: 50%;
  fill: #2d3440;
}

.slider-arrow:active path {
  border-radius: 50%;
  fill: #2d3440;
}

.slider-arrow:focus path {
  border-radius: 50%;
  fill: #2d3440;
}

.slider-arrow:active {
  border: none;
  border-radius: 50%;
  outline: 2px solid #fcd5df;
  background-color: #fcd5df;
}

.slider-arrow:focus {
  border: none;
  border-radius: 50%;
  outline: 2px solid #2d3440;
  background-color: #fec7d5;
}

.slider-arrow:disabled {
  border: none;
  border-radius: 50%;
  background-color: #feb8ca;
}

.price {
  display: flex;
}

.select-control {
  width: 196px;
  opacity: .3;
  border-radius: 20px;
  background: #fcfcfc;
}