@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/inter-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/inter-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/inter-extra-bold.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Button */

.button {
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  border-radius: 16px;
  background-color: #fcfcfc;
}

.button-pink {
  color: #fcfcfc;
  background-color: #ff2f64;
}

/* Header*/

.navigation-cite {
  display: flex;
  flex-shrink: 0;
  width: 1170px;
  margin: 0 auto;
  padding: 24px 0;
  list-style-type: none;
}

.navigation-cite-list {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  display: block;
  padding: 8px 16px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  max-width: 475px;
  margin-left: auto;
  list-style-type: none;
  gap: 16px;
}

.navigation-link {
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.contacts-phone {
  font-weight: 700;
}

/* Main */

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.button-order {
  width: 139px;
  text-decoration: none;
  color: #2d3440;
  background: #fcfcfc;
}

.text-ice-cream {
  width: 525px;
  margin: 0 0 0 70px;
}

.announcement {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0 55px 0;
}

.visible-ice-cream {
  display: flex;
  justify-content: space-between;
  width: 367px;
}



.slider-image {
  flex-grow: 1;
  width: 100px;
  margin: auto;
}

.slider-images {
  margin: auto;
}

.gifts-for-ice-cream {
  width: 434px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  gap: 16px;
}

.social-list-footer {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  gap: 16px;
}

.social-item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.ice-cream-name {
  width: 470px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.taste-description {
  width: 429px;
  margin: 24px 0 48px 0;
  font-size: 18px;
  line-height: 24px;
}

.product {
  margin-bottom: 80px;
}

.popular-product {
  margin: 0 auto;
  margin-bottom: 56px;
}

.gifts-for-ice-cream,
.popular-product {
  width: 527px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.present {
  margin-bottom: 80px;
}

.present-list {
  display: flex;
  margin-top: 55px;
  margin-left: 0;
  list-style-type: none;
}

.present-item {
  display: flex;
  width: 570px;
  margin-right: 30px;
  margin-left: 0;
  border-radius: 16px;
  background: #f79;
}

.text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 317px;
  height: 196px;
  padding-left: 36px;
}

.present-tittle {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.product-card-image {
  border-radius: 50%;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  height: 281px;
  padding: 0 51px 16px 51px;
  border-radius: 8px;
  background: #fcfcfc;
}

.product-list {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  gap: 30px;
}

.product-tittle {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.product-card-discription {
  text-align: center;
  color: #565c66;
}

.product-card-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.advantages {
  height: 480px;
  margin-bottom: 80px;
  padding: 0 auto;
  border-radius: 16px;
  background-image: url('../images/cео.jpg');
  background-repeat: no-repeat;
}

.advantages-container {
  height: 432px;
  margin: 40px;
  border-radius: 16px;
  background-color: #fff;
  background-repeat: no-repeat;
  gap: 10px;
}

.advantages-list {
  display: flex;
  list-style-type: none;
}

.own-production {
  margin-bottom: 56px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.blog-article {
  margin: 33px 235px 12px 32px;
  font-size: 16px;
  font-weight: 400;
}

.blog {
  width: 570px;
  height: 224px;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  background-image: url('../images/news.png');
  background-repeat: no-repeat;
}

.article {
  width: 303px;
  height: 92px;
  margin: 33px 235px 67px 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  color: #2d3440;
}

.subscription {
  width: 570px;
  border-radius: 16px;
  background-image: url('../images/pattern.jpg');
  background-repeat: no-repeat;
}

.subscription-container {
  width: 558px;
  height: 212px;
  margin: 0 auto;
  border-radius: 16px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.mailing-list {
  padding: 26px 26px 42px;
  color: #565c66;
}

.home-delivery {
  display: flex;
  justify-content: space-between;
  height: 534px;
  margin-bottom: 80px;
  border-radius: 16px;
  background-image: url('../images/delivery.png');
  background-repeat: no-repeat;
}

.delivery-container {
  display: flex;
  flex-direction: column;
}

.delivery-on-home {
  width: 356px;
  margin: 167px 160px 24px 100px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.delivery-discription {
  margin: 24px 135px 163px 100px;
}

.delivery-record {
  margin: 40px 80px 32px 40px;
  font-weight: 400;
  color: #565c66;
}

.delivery-discription {
  width: 371px;
  color: #565c66;
}


.delivery-box {
  width: 500px;
  height: 406px;
  border-radius: 8px;
  background-color: #fcfcfc;
  background-repeat: no-repeat;
}

.record {
  font-weight: 700;
  line-height: 20px;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  width: 343px;
  height: 364px;
  margin: 64px 763px 64px 64px;
  border-radius: 8px;
  background-color: #fcfcfc;
  background-repeat: no-repeat;
}

.contacts {
  height: 492px;
  border-radius: 16px;
  background-image: url('../images/backstage.png');
  background-repeat: no-repeat;
}

.contacts-subtitle {
  width: 179px;
  margin: 40px 124px 12px 40px;
  font-size: 16px;
  font-weight: 400;
  color: #565c66;
}

.contacts-subtitle-phone {
  width: 203px;
  margin: 24px 100px 12px 40px;
  font-size: 16px;
  font-weight: 400;
  color: #565c66;
}

.contacts-address-text {
  width: 263px;
  margin-right: 40px;
  margin-bottom: 24px;
  margin-left: 40px;
}

.contacts-address {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #2d3440;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 153px;
  margin: 0 auto;
  margin-bottom: 0;
  padding-top: 48px;
  padding-bottom: 0;
}

.footer-contacts {
  width: 104px;
}

.useful-links {
  width: 356px;
}

.copyright {
  width: 193px;
}

.button-feedback {
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #fcfcfc;
}

.contacts-phone2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.phone {
  text-decoration: none;
}

.opening-hours {
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.footer-link-active {
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-left: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.breadcrumbs-item .page {
  text-decoration: underline;
}

.inner-header {
  display: flex;
  flex-direction: column;
  width: 379px;
}

.catalog-filter {
  display: flex;
  width: 823px;
}

.about-text {
  font-size: 12px;
}

.main-inner {
  padding-top: 32px;
}

.selected-products {
  margin-top: 0;
  font-size: 32px;
  font-weight: 900;
}

.catalog-filter-title {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.pagination-container {
  display: flex;
  height: 126px;
  margin-bottom: 40px;
}